body{
	width: 50%;
	margin: 0 auto;
	font-family: "arial";
}
#container{
	width: 80%;
	margin: 0 auto;
}
#backg{
	background-image: url("img/traffic.jpg");
	background-size: 100%; 
	padding: 1% 1% 0% 5%;
	margin-bottom: -4%;
}
#inputbox{
	margin: 0 auto;
	width: 80%;
	/* opacity: 0,7 using opacity causes problems with the backgroundcolor of the boxes but the area down is working */ 
	text-align: center;
	background-color: rgba(256, 256, 256, 0.7);
	border: 2px solid darkgrey;
}
#boxes{
	display: flex;
	justify-content: space-around;
}
footer{
	background-color: black;
	color: white;
}
header{
	background-color:#fff3f3;
	margin-bottom: -23px;	
}
#grey{
	background-color: lightgrey;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 1.5%;
}
#navbartop{
	background-color: #8e1616;
    margin-top: 0;
    margin-bottom: -25px;
    list-style-type: none;
    padding: 0px;
    color: white;
    font-size: 1.5em;   
}
#navname{
	text-align: center;
}
#bottompic{
	display: flex;
	justify-content: center;
	padding-left: 70%;
}
#leftbox,#rightbox{
	border: 1px solid grey;
	border-top: 2px solid black;
	margin: 3%;
	box-shadow: 1px 1px 1px grey;
}
h2{
	color: white;
	font-size: 2em;	
}
h3{
	font-size: 2em;
	text-align: center;
}
h4{
	font-size: 1.1em;
	color: darkblue;
}
.ifield{
	background-color: white;
}
#insuranceinput{
	display: flex;
	justify-content: space-around;   
}
#resultfield{
	visibility:hidden;
	font-size: 2em;
	color: green;
}
#headpic1{
	padding: 3%;
	padding-bottom: 4%;
}
#headpic2{
	padding: 2%;
	padding-left: 20%;
	width: 50%;
}
#calcbutton{
	background-color: green;
	color: white;
	width: 7em;
    height: 2em;
    border: 4px;
    border-radius: 6px;
    font-size: 1.5em;
    opacity: 1;   
}
#country{
	width: 100%;
    height: 2em;
}
.navbar{
	   display: flex;
	   list-style-type: none;
}
.anav{
	color: white;
	padding-right: 15px;
	text-decoration: none;
}
.bigtext{
	font-size: 1.5em;
}
.smalltext{
	font-size: 1.2em;
}
.vsmalltext{
	font-size: 0.8em;
	color: grey;
}
#leftbox{
	padding-left: 5%;
	padding-right: 11%;
}
#rightbox{
	padding-left: 4%;
	padding-right: 7%;
}
.testx{
	color: green;
}
.dummeyc{
	text-align: left;
}

@media screen and (max-width: 600px) {
   #backg{
   	background-size: 400%;
   }
   #headpic2{
   	width: 80%;
   }
   #bottompic{
   	padding-left: 20%;
   }
   .ifield{
   	width: 100%;
   }
}
